html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 배경색 */
body {
  font-family: "맑은고딕", "돋음", arial, sans-serif;
  font-size: 24px;
  background: white;
}

ul{
  list-style:none;
}

h4 {
  margin: 0;
  width:auto;
}

/* header */

.headerLogo{
  width:100px;
}

.headerLogo:hover{
  color: #888888;
}


a {
  text-decoration: none;
}

.header-wrapper{
  border-bottom: 1px solid #232a32;
  border-color: #80c72d;
}

.header-wrapper .header-contaniner{
  height: 60px;
  display:flex;
}  

.header-contaniner {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
}

.headerMenuArea{
  width:500px;
}

.headerMenuArea .headerMenu > li {
  display:flex;
  font-weight: bold;
  margin-left : auto;
  color : grey;
}

.headerMenu {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding:0;
  margin-top: 7px;
}

.headerMenuItem{
  padding-top: 10px;
}


.headerMenuItem:hover{
  color: #888888;
}

.middleSize{
  font-size: 18px;
}

.headerUtil {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 0;
}

#headerSlide{
  width:100%;
  height:200px;
  background-color: #d9d9d9;
}

header ul {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* 메뉴바 */
.projectItem{
  margin-left:20px;
  margin-bottom: 15px;
  font-size: 15px;
  background: none;
  border-radius:15px;
  color: #551A8B;
  font-weight: bold;
}

.moreItem {
  font-size:16px;
  color: #888888;
}


/* input, button 타입 모음 */

.noneBtn{
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 0 10px 0;
  margin-left: 20px;
}

.noneBtn:hover {
  color: #888888;
}


input[type="radio"] {
  margin: 10px;
  display: none;
}

input[type="radio"] + label {
  color: #777777;
  min-width: 76px;
  border: 1px solid #d9d9d9;
  padding: 3px 14px 3px 14px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border-color: black;
}

.blackBtn {
  background-color: black;
  color: white;
  padding: 0 20px 0 20px;
  font-size: 15px;
  cursor: pointer;
}

.blackBtn:hover {
  background-color: #384048;
}

.btnOne {
  padding: 7px 5px 5px 5px;
  border-radius: 10%;
}

.btnOne:hover {
  border: 1px solid black;
}

.whiteBtn {
  border: 1px solid #d9d9d9;
  background: none;
  
}

.whiteBtn:hover {
  box-shadow: 2px 2px 5px #999;
  cursor: pointer;
}

.whiteBtn:disabled {
  border: none;
  color : grey;
  background: none;
  cursor: none;
}

.whiteBtn:active {
  border: 1px solid black;
}

.mainPageBtn {
  padding: 5px 15px 5px 15px;
  border-radius: 10%;
  margin: 3px;
}

.paddingBtn1 {
	margin-top: 15px;
}

.leftMenuBtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 0 10px 0;
}

.leftMenuBtn:hover {
  border-bottom: 1px solid #232a32;
}

.leftMenuBtn:active {
  border-bottom: 1px solid #232a32;
}

.leftMenuTitle {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: none;
}

.leftbtn{
  float: right;
}

#container{
  width: 100%;
  height: 700px;
}

/* footer */
#footer {
  position: relative;
  bottom: 0;
  padding: 10px;
}

#footer .infoArea .footerMenuArea,
.footerArea {
  width: 1080px;
  margin: 0 auto;
  overflow: auto;
}

.footerLeft {
  font-size: 50px;
  font-weight: 900;
  float: left;
}

.footerRight {
  position: relative;
  float: right;
  width: 820px;
}

.footerLeft .footerRight {
  margin: 30px;
}

.footerMenuArea .footerMenu > li {
  display: inline-block;
  color: #d3d3d5;
}


.footerMenu {
  padding: 10px 0 10px 10px;
  margin: 0;
  margin-right: 11px;
  font-size: 13px;
  cursor: pointer;
}

.footerMenu button {
  font-size: 12px;
  color: white;
  background-color: #384048;
  border-color: white;
}

.footerMenuArea {
  border-bottom: 1px solid #384048;
  background-color: #232a32;
}

.footerList{
  font-size:18px;
}

img {
  margin-top: 30px;
}

.imgMargin {
  margin-top: 0;
}

.COPYRIGHT {
  font-weight: bold;
}
